:root {
    --color-font: #35175d;

    --color-primary-300: #c5ebe0;
    --color-primary-500: #38b6ab;
    --color-primary-700: #00948e;

    --color-secondary-500: #774890;
    --color-secondary-700: #5c2874;

    --color-offset-500: #f59c00;
    --color-offset-700: #ef7e08;
    --color-offset-900: #995205;

    --color-alert-500: #e8345d;
    --color-alert-700: #ce0c4f;
}
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body input{
    width:120px;
}
footer {
    margin: 0 3em 50px 3em;
}
.subtext{
    margin-left:3em;
    margin-right:3em;
}
h1, h2, h3, h4, h5, p, a, button, input {
    font-family: "Invention", sans-serif;
}
h1{
    color: var(--color-primary-500);
}
h2, h3{
    color: var(--color-secondary-500);
}
h4, h5, p{
    color: var(--color-font);
}
p, input{
    font-size: 14pt;
}
.tab_container {
    width:100%;
    border-top-color: var(--color-secondary-700);
    border-top-style: solid;
    border-top-width: 3px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.tab_on{
    background: var(--color-secondary-700);
}
.tab_off{
    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(281, 49%, 31%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(281, 49%, 31%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(281, 49%, 31%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#5C2874", GradientType=1 );
}
.tab_font h3{
margin:0;
padding: 10px 0 10px 0;
color: #FFFFFF;
}
.tab_font{
display:flex;
justify-content: center;
align-items:center;
}

.hidden {
display: none;
}

.border_padding {
    padding: 0 1em 0 1em;
}

.quallen_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    gap:2px;
    padding: 0 2em 0 2em;
}
.quallen_container > div:nth-child(10n + 1),
.quallen_container > div:nth-child(10n + 2),
.quallen_container > div:nth-child(10n + 5),
.quallen_container > div:nth-child(10n + 6),
.quallen_container > div:nth-child(10n + 9),
.quallen_container > div:nth-child(10n + 10) {
  background:var(--color-primary-300);
}

.quallen_container > div:nth-child(10n + 3),
.quallen_container > div:nth-child(10n + 4),
.quallen_container > div:nth-child(10n + 7),
.quallen_container > div:nth-child(10n + 8) {
  background: #e7e7e7;
}
.quallen_container div{
    padding-left: 1em;
}
.chart_card{
    margin: 1em 3em 3em 3em;
    background: #eeeeee;
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
.justify_left{
    display: flex;
    justify-content: left;
}
.justify_center{
    display:flex;
    justify-content: center;
}
.align_center{
    display: flex;
    align-items: center;
}
.gemeinsam_grid p {
    padding: 1em 0 1em 1em;
    margin: 0;
}
.gemeinsam_grid {
    display: grid;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". dog cat"
    "tierp tierp_num1 tierp_num2"
    "behan behan_num1 behan_num2"
    "prax prax_num1 prax_num2"
    "anza anza_num1 anza_num2"
    "tiere tiere_input1 tiere_input2"
    "anteil anteil_input1 anteil_input2"
    "abgeg abgeg_input1 abgeg_input2";
}

#geme_title{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: #e8345d;
    overflow: hidden;
}
#geme_title h3{
    color: #FFFFFF;
    padding-left: 1em;
}
#cat{
    grid-area: cat;
}
#dog{
    grid-area: dog;
}
#tierp{
    grid-area: tierp;
}
#tierp_num1{
    grid-area: tierp_num1;
}
#tierp_num2{
    grid-area: tierp_num2;
}
#behan{
    grid-area: behan;
}
#behan_num1{
    grid-area: behan_num1;
}
#behan_num2{
    grid-area: behan_num2;
}
#prax{
    grid-area: prax;
}
#prax_num1{
    grid-area: prax_num1;
}
#prax_num2{
    grid-area: prax_num2;
}
#anza{
    grid-area: anza;
}
#anza_num1{
    grid-area: anza_num1;
}
#anza_num2{
    grid-area: anza_num2;
}
#tiere{
    grid-area: tiere;
}
#tiere_input1{
    grid-area: tiere_input1;
}
#tiere_input2{
    grid-area: tiere_input2;
}
#anteil{
    grid-area: anteil;
}
#anteil_input1{
    grid-area: anteil_input1;
}
#anteil_input2{
    grid-area: anteil_input2;
}
#abgeg{
    grid-area: abgeg;
}
#abgeg_input1{
    grid-area: abgeg_input1;
}
#abgeg_input2{
    grid-area: abgeg_input2;
}

.monate_grid{
    display:grid;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    grid-template-columns: 100px 450px 1fr 1fr;
    grid-template-areas: 
    "fill_header monate monate_num1 monate_num2"
    ". brave brave_num1 brave_num2"
    ". mit mit_num1 mit_num2"
    ". unges unges_num1 unges_num2";

}
.monate_grid p{
    padding-left: 1em;
}
#monate{
    grid-area: monate;
    padding-left: 1em;
    background: var(--color-primary-500);
    
}
#monate h3{
    color: #FFFFFF;
}
#monate_num1{
    grid-area: monate_num1;
    background: var(--color-primary-500);
    color: #FFFFFF;
}
#monate_num1 h3{
    color: #FFFFFF;
}
#monate_num2{
    grid-area: monate_num2;
    border-top-right-radius: inherit;
    background: var(--color-primary-500);
    color: #FFFFFF;
}
#fill_header{
    grid-area:fill_header;
    border-top-left-radius: inherit;
    background: var(--color-primary-500);
}
#monate_num2 h3{
    color: #FFFFFF;
}
#brave{
    grid-area: brave;
}
#brave_num1{
    grid-area: brave_num1;
}
#brave_num2{
    grid-area: brave_num2;
}
#mit{
    grid-area: mit;
}
#mit_num1{
    grid-area: mit_num1;
}
#mit_num2{
    grid-area: mit_num2;
}
#unges{
    grid-area: unges;
}
#unges_num1{
    grid-area: unges_num1;
}
#unges_num2{
    grid-area: unges_num2;
}
#b18, #b19, #b20, #b21, #c18, #c19, #c20, #c21{
    padding:0;
} 
.guage_container{
    position: relative;
    width: 600px;
    height: 50px;
    border-radius: 5px;
    background: var(--color-offset-500);
}
.guage_slider{
    position:absolute;
    height: 50px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    top:0;
    left:0;
    background: var(--color-offset-900);

}
.block{
    display: block;
}

.slider_container{
    display: flex;
}

.bottom_num{
    position:absolute;
    top:60px;
}

.ui-loader, .ui-icon-loading{display: none;} 

html {
    scroll-behavior: smooth;
    }

#content {
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 1024px;
    height: 768px;
    position: fixed;
    top: 0;
    left: 0;
}
#main{
    display: none;
    overflow: hidden;
    top: 0;
    left: 0;
}
.logo{
    padding-left: 1em;
}
.monate_cust_height{
    height: 420px;
}

.top_margin{
    margin-top: 1em;
}
.animal_container{
    padding-right: 2em;
    padding-left: 2em;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
}
.base{
    align-self:flex-start;
    margin:0;
}
.slide_title{
    padding-left: 2em;
}
.glossary{
    display: grid;
    grid-template-columns: repeat(1, 20px 1fr);
    gap: 1em;
 
}
.deactivated{background-color:rgba(12,12,12,0.7);}

#scrolldown,  #scrollup{
        position: fixed;
        bottom: 60px;
        right: 14px;
        overflow: hidden;
        color: rgba(255,255,255,1);
        opacity: 0.4;
        font-size: 80px;
        background: rgba(255,255,255,0.4);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        border: 5px solid rgba(255,255,255,1);
        animation: pulse 2000ms 1;                       
}
.center{
    margin-left:0 !important;
    padding-left:0 !important;
    text-align:center;
}
@keyframes pulse{
        00%{
        opacity:0.4;
        }
        50%{
        opacity:0.8;

        }
        100%{
        opacity:0.4;
        }
    }

#scrolldown {
    transform: rotate(90deg);
    display: inline;
}

#scrollup {
    display: none;
    transform: rotate(270deg);
}      

.behand_grid{
    display: grid;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    grid-template-columns: 6fr 2fr 2fr 1fr 1fr;
    grid-template-areas:
    "behand_title behand_title behand_title behand_title behand_title"
    ". dog2 cat2 dog3 cat3"
    "ihr ihr ihr ihr ihr"
    "monate3 monate3_dog monate3_cat monate3_dogcat monate3_dogcat"
    "monate6 monate6_dog monate6_cat monate6_dogcat monate6_dogcat"
    "monate9 monate9_dog monate9_cat monate9_dogcat monate9_dogcat"
    "ganzj ganzj_dog ganzj_cat ganzj_dogcat ganzj_dogcat";
}
.margin_top_2{
    margin-top:2em;
}
#behand_title{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: var(--color-offset-500);
    grid-area: behand_title;
}
#behand_title h3{
    color: #FFFFFF;
}
#behand_title, #ihr, #monate3, #monate6, #monate9, #ganzj {
    padding-left: 1em;
}
#ganzj p, #ganzj_dog p, #ganzj_cat p, #ganzj_dogcat p {
    
    color: var(--color-primary-500);
    font-weight: 600;
    font-size: 16pt;
}
#dog2{
    grid-area: dog2;
}
#cat2{
    grid-area: cat2;
}
#dog3{
    grid-area: dog3;
}
#cat3{
    grid-area: cat3;
}
#ihr{
    grid-area: ihr;
}
#monate3{
    grid-area: monate3;
}
#monate3_dog{
    grid-area: monate3_dog;
}
#monate3_cat{
    grid-area: monate3_cat;
}
#monate3_dogcat{
    grid-area: monate3_dogcat;
}
#monate6{
    grid-area: monate6;
}
#monate6_dog{
    grid-area: monate6_dog;
}
#monate6_cat{
    grid-area: monate6_cat;
}
#monate6_dogcat{
    grid-area: monate6_dogcat;
}
#monate9{
    grid-area: monate9;
}
#monate9_dog{
    grid-area: monate9_dog;
}
#monate9_cat{
    grid-area: monate9_cat;
}
#monate9_dogcat{
    grid-area: monate9_dogcat;
}
#ganzj{
    grid-area: ganzj;
}
#ganzj_dog{
    grid-area: ganzj_dog;
}
#ganzj_cat{
    grid-area: ganzj_cat;
}
#ganzj_dogcat{
    grid-area: ganzj_dogcat;
}

.brave_grid {
    display:grid;
    border-radius: inherit;
    grid-template-columns: 6fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "brave_22 brave_22_dog brave_22_cat brave_22_dogcat brave_22_dogcat"
    "brave_23_bg brave_23_bg_dog brave_23_bg_cat brave_23_bg_dogcat brave_23_bg_dogcat"
    "brave_23_b brave_23_b_dog brave_23_b_cat brave_23_b_dogcat brave_23_b_dogcat"
    ". . . . ."
    "final1 final1 final1_num1 final1_num2 final1_num2"
    "final2 final2 final2_num1 final2_num2 final2_num2"
    "final3 final3 final3_num1 final3_num2 final3_num2";
}
#brave_22, #brave_23_bg, #brave_23_b{
    padding-left:1em;
}
#brave_22{
    grid-area: brave_22;
    border-top-left-radius: inherit;
    
    background-color: var(--color-secondary-500);
}
#brave_22 p{
    color: #FFFFFF;
}
#brave_22_dog{
    background-color: var(--color-secondary-500);
    grid-area: brave_22_dog;
}
#brave_22_dog p{
    color: #FFFFFF;
}
#brave_22_cat{
    background-color: var(--color-secondary-500);
    grid-area: brave_22_cat;
}
#brave_22_cat p{
    color: #FFFFFF;
}
#brave_22_dogcat{
    grid-area: brave_22_dogcat;
    background-color: var(--color-secondary-500);
    border-top-right-radius: inherit;
}
#brave_22_dogcat p{
    color: #FFFFFF;
}
#brave_23_bg{
    grid-area: brave_23_bg;
}
#brave_23_bg_dog{
    grid-area: brave_23_bg_dog;
}
#brave_23_bg_cat{
    grid-area: brave_23_bg_cat;
}
#brave_23_bg_dodcat{
    grid-area: brave_23_bg_dogcat;
}
#brave_23_b{
    grid-area: brave_23_b;
}
#brave_23_b_dog{
    grid-area: brave_23_b_dog;
}
#brave_23_b_cat{
    grid-area: brave_23_b_cat;
}
#brave_23_b_dodcat{
    grid-area: brave_23_b_dogcat;
}

.monate_grid2{
    display: grid;
    margin-top:2em;
    grid-template-columns: 6fr 2fr 2fr 1fr 1fr;
    grid-template-areas:
    "final1 final1 final1_num1 final1_num2 final1_num2"
    "final2 final2 final2_num1 final2_num2 final2_num2"
    "final3 final3 final3_num1 final3_num2 final3_num2";
}
#final1, #final2, #final3{
    padding-left: 1em;
}
#final1{
    grid-area:final1;
}
#final1_num1{
    grid-area:final1_num1;
}
#final1_num2{
    grid-area:final1_num2;
}
#final2{
    grid-area:final2;
}
#final2_num1{
    grid-area:final2_num1;
}
#final2_num2{
    grid-area:final2_num2;
}
#final3{
    grid-area:final3;
}
#final3_num1{
    grid-area:final3_num1;
}
#final3_num2{
    grid-area:final3_num2;
}


@font-face {
	font-family: "Invention";
	src: url("./fonts/EOT/Invention_W_Rg.eot") format("eot"), url("./fonts/WOFF/Invention_W_Rg.woff") format("woff"), url("./fonts/WOFF2/Invention_W_Rg.woff2") format("woff2");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Invention";
	src: url("./fonts/EOT/Invention_W_It.eot") format("eot"), url("./fonts/WOFF/Invention_W_It.woff") format("woff"), url("./fonts/WOFF2/Invention_W_It.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Invention";
	src: url("./fonts/EOT/Invention_W_Bd.eot") format("eot"), url("./fonts/WOFF/Invention_W_Bd.woff") format("woff"), url("./fonts/WOFF2/Invention_W_Bd.woff2") format("woff2");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: "Invention";
	src: url("./fonts/EOT/Invention_W_BdIt.eot") format("eot"), url("./fonts/WOFF/Invention_W_BdIt.woff") format("woff"), url("./fonts/WOFF2/Invention_W_BdIt.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Invention Light";
	src: url("./fonts/EOT/Invention_W_Lt.eot") format("eot"), url("./fonts/WOFF/Invention_W_Lt.woff") format("woff"), url("./fonts/WOFF2/Invention_W_Lt.woff2") format("woff2");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Invention Light";
	src: url("./fonts/EOT/Invention_W_LtIt.eot") format("eot"), url("./fonts/WOFF/Invention_W_LtIt.woff") format("woff"), url("./fonts/WOFF2/Invention_W_LtIt.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}